<h1>Yo index</h1>

<form action= "/title">
    <div class="form-group">
      <label for="title"> Enter a title and it will be returned in title-case
        for you!
      </label>
      <input id="title" name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
